@charset "UTF-8";

 /*content스타일*/
 	
 	body {
 	background-image:url("../img/Board_back.jpg");
 
 	}
  
   .content {
     position:absolute;
     left: 50%;
     transform: translate(-50%);
     padding-top:250px;
 
   }  
       
    form {
     width: 650px;
     height: 750px;
     padding:20px 0 10px 0;
     box-shadow: 5px 5px 5px 5px lightgray;
     background-color:rgba( 255, 255, 255, 0.8 );
    }
    
    .wrap {
    /*background-color: #F6F6F6;*/
    height:1500px;
  	/*background-image:url("img/배경6.jpg");*/
    }
    
    
   /*content h1 스타일*/
    .content h1 {
    width: 400px;
    height: 50px;
    margin: 0;
    font-size:30px;
    }
    

 /*content h3 스타일   inline-block으로 width와 height적용 가능하도록 */
  .content h3 {
    margin: 15px 20px 17px 40px ;
    font-size:17px;
    font-weight: 700;
    display:inline-block;  
    width:100px;
    text-align:center;
    } 
    
    label[for="text"]{
    position: absolute;
    top:650px;
    left: 55px;
    }
    
    
    .box {
    /*display:block;*/
    width: 400px;
    height: 50px; 
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    position: relative;
    display:inline-block;
    border: solid 1px #dadada;
    background: #fff;
     margin: 0px 80px 0px 0px ;
    } 
     
    .text_box{
    display: inline-block;
    width:  400px;
    height: 250px;
    border: solid 1px #dadada;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    margin: 5px 80px 0px 0px ;
    }    
    
   textarea {
    display:inline-block;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 15px;
    border: none;
    }
     /*선택박스 스타일*/
    select {
    width: 370px;
    height: 25px;
    appearance: none;
    font-size: 15px;
    border: none;
    }
    
    /*입력박스 스타일*/
    .int {
    display: block;
    position: relative;
    width: 100%;
    height: 28px;
    border: none;
    background: #fff;
    font-size: 15px;
    }
   .file_area {
    width:  400px;
    height: 40px;
    border: none;
    margin-right: 80px;
    display: inline-block;
    
   }
   
    .int_file {
    width: 100%;
    height: 40px;
  
    font-size: 15px;
    margin: 10px 0 0 10px;
    }
   
   .view_area {
    padding: 5px 10px;
    margin-right: 100px;
    display: inline-block;
   }
   
   .view_area label {
    padding-left: 7px;
     font-size: 18px;
   }
 


 /*button 스타일*/
    .button_area {
    margin: 30px 0 90px;
    }
    
    .subbutton{
    width:60px;
    height:35px;
    border:none;
    cursor:pointer;
    background-color:lightgray;
    font-size:15px;  
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    }
    
    .error{
    font-size: 11px;
    height: 20px;
    padding-left: 175px;
    color: red;
    }
    
