@charset "UTF-8";

*{
	margin: 0 auto;
	padding: 0;
	font-family: "맑은 고딕";
	list-style: none;
	color: #000000;
}

a{
	text-decoration: none;
}


body {
    width: 100%;
    height: 100%;
}


#header{
	width: 100%;
	background-color: rgba( 255, 255, 255, 0.5 );
	height:125px;
	position: fixed;
	z-index:20;
}

#header:hover{
	background-color: rgba( 255, 255, 255, 1 );
}

.header_icon_left{
	width:200px;
	padding:10px;
	float: left;
}



.header_icon_right{
	width:230px;
	padding:10px;
	float: right;
}

/* 로그인, 로그아웃 */
.header_icon_right .memberLogin{font-size: 13px; margin:3px;}


.header_icon_right .memberLogin .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#personalPostMethod{position:relative;}

.header_iconimg_left{
	width:24px;
	height:24px;
	
}

.header_iconimg_right{
	width:24px;
	height:24px;
	padding-left:7px;
	float: right;
}

.header_logo_center{
	display: flex;
    justify-content: center;
}

.header_logoimg{
	width:auto;
	height:40px;
	margin-top: 28px;
}

.header_nav{
	width: 100%;
	margin-top:17px;
	z-index: 5;
	position: relative;
	display: flex;
	justify-content: center;
}

.header_menu>li{
	float: left;
	width: 150px;
}

.header_menu>li>a{
	line-height: 36px; /* 라인 높이 */
	font-size: 12px;
	text-align: center;
	color: #000;
	text-decoration: none;
	display: block;
}

/* .header_menu>li>a:hover{
	line-height: 34px; 마우스 올렸을때 라인 높이
	width: 100px;
	font-weight: bold;
	border-bottom: solid 2px #E3C4FF;
} */

.header_submenu{
	display: none;
	position: absolute;
	z-index: 3;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height:550px;
	background-color: rgba( 255, 255, 255, 1 );
}

.header_submenu>li{
	width: 100%;
	display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header_submenu_hi{
	
}

.header_submenu_hi_sub{
	float: left;/* inline요소로 되게 한다. */
/* 	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px; */
	margin: 10px;
	/* position: relative; */
}

/* .header_hi_img{
    display: block;
	z-index: 1;
	position: absolute;
} */

/* .header_imgbox{
	z-index: 9;
	position: absolute;
	width: 300px;
	height:50px;
	background-color: #e6e6e6;
	display: block;
} */




/*----*/



/* .color-6 {
  background: #353535;
} */

.SMN_effect-46 .header_a {
	position: relative;
/* 	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s; */
}

.SMN_effect-46 .header_a:before {
	content: "";
	position: absolute;
	z-index: -1;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #E3C4FF;
	-webkit-transform: scaleX(0);
	/* transform: scaleX(0); */
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
/* 	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s; */
	transition-duration: 0.5s;
/* 	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out; */
}

.SMN_effect-46 .header_a:hover:before, .SMN_effect-46 .header_a:focus:before, .SMN_effect-46 .header_a:active:before {
	/* -webkit-transform: scaleX(1); */
	transform: scaleX(1);
	/* -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); */
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.header_submenu_j{
	
}

.header_submenu_j_sub{
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}

.header_menu_a_bold{
	margin-top:5px;
	display: block;
	font-weight: bold;
	line-height: 2.0;
	font-size: 1.0em;
}

.header_menu_a{
	margin-top:5px;
	display: block;
	line-height: 1.8;
	font-size: 0.9em;
}

.header_submenu_w{
	
}

.header_submenu_w_sub{
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}


/* .header_scrollbutton_all{
	float: right;
	margin-right: 50px;
}

.header_scrollbutton{
	width: 15px;
    height: 15px;
	background-color: #fff;
	border-radius:10px;
	border:none;
	margin-top: 5px;
	display:block;
}

.header_scrollbutton:hover{
	background-color: #E3C4FF;
} */




